.page {
width: 100%;
}

.page__wrapper {
  width: 320px;
  background-color: #FFFFFF;
  margin: 0 auto;
  position: relative;
  border: 1px dotted #333333;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
  }
}
